.blogimagecontainer{
    height: 30rem;
    width: auto;
    margin: 1rem;
 
}
.headerblog{
    margin: 1rem;
}
.blogdescription{
    margin: 1rem;
}
.commentbox{
    margin-left: 2rem;
    width: 96%;
    border: 1px solid gray;
}
.likescontainer{
    display: flex;
    flex-direction: row;
    margin: 1rem;
     
}
.commentscontainer{
    margin:1rem
}
.bodyblog{
    margin-top: 1rem;
}
.blogcontainer{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color:#E9E9EB;
}
.oldcomments{
    text-align: left;
    background-color: rgb(202, 209, 214);
    color:rgb(22, 20, 20);
    height: auto;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 2rem;
    padding-left: 5%;
   
}
.likebutton{
    background-color: rgb(35, 93, 199);
    color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius:3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.dislikebutton{
    background-color: rgb(226, 32, 32);
    color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius:3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.favbutton{
    background-color: rgb(14, 231, 68);
    color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius:3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.categorybutton{
    background-color: rgb(199, 35, 136);
    color: white;
    margin-top: 0rem;
    margin-left: 1rem;
    border: 1px solid white;
    border-radius:30px;
    padding: 7px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}